<!doctype html>
<html>
<head>
	<title>Reservation Confirmation</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<SCRIPT type="text/javascript">
		window.history.forward();
		function noBack() { window.history.forward(); }
		
		function closeWindow() {
            netscape.security.PrivilegeManager.enablePrivilege("UniversalBrowserWrite");
            alert("This will close the window");
            window.open('','_self');
            window.close();
        }

        <a href="#" onclick = "closeWindow();">close</a>
		
		
		
	</SCRIPT>
	
	<style type="text/css">

      /* Large desktop */
      @media (min-width: 980px) { 
        body {
			background-image:url('Blue.jpg');
         padding-top: 60px;
        }
       .linediv-l {
         border-right: 1px white solid;
        }
       .linediv-r {
         border-left: 1px white solid;
       }
      }
		
	font{
		color: white;
	}
      /* Landscape phones and down */
      @media (max-width: 480px) { 
       .copy {
         padding: 2.5% 10%;
       }
       .linediv-l {
         border-bottom: 1px white solid;
       }
       .linediv-r {
         border-top: 1px white solid;
       }
      }

      /* All form factors */

      /* Main body and headings */
      body{
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      }
      .heading, .subheading {
        font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
        text-align: center;
      }
      p.lead {
        padding-top: 1.5%;
        font-size: 24px;
        line-height: 30px;
      }
      p {
        font-size: 18px;
        line-height: 24px;
      }

      /* Video pitch and Action */
      .pitch {
        padding: 2.5% 0%;
      }
      .order {
        padding: 2% 0%;
      }
      .actions {
        background-color: #343434;
        padding: 3% 0%;
      }
      .video, .thermometer, .order, .social, .statistics {
        text-align: center;
      }
      .statistics h3, .statistics p {
        color: white;
      }

      /* Marketing Copy and Footer */
      .copy {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        text-align: justify;
      }
      .asset {
        padding: 2.5% 0%;
      }
      .footer {
        color: #cccccc;
        text-align: center;
      }
      .footer p {
        font-size: 11px;
      }
      .footer a {
        color: #ccccff;
      }
	  h1 {
	  color: white;
	  }
	  h3 {
	  color : black;
	 }
	  
	  .resizedTextbox {width: 221px; height: 100px ;  padding: 1px}
	  
	  .logoutLblPos{

	   position:fixed;
	   right:2px;
	   top:50px;
	}
	

    </style>
	
	
<style type="text/css">
.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #aade7c;
}
.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}.classname:active {
	position:relative;
	top:1px;
}</style>
<style>
	
	
	.logoutLblPos{

	   position:absolute;
	   left:0px;
	   top:0px;
	}
	
	.logout2LblPos{

	   position:absolute;
	   right:0px;
	   top:0px;
	}
</style>



</head>
<body onload="noBack();"
    onpageshow="if (event.persisted) noBack();" onunload="">
<div class="container">
	<!--<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
	<label class="logoutLblPos">
		<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return false;"></FORM>
	</label>
	<label class="logout2LblPos">
		<a href="#" onclick = "closeWindow();">close</a>
	</label>
	-->
	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Reservation Confirmed</h1>
		
	</div>
	
	

		<!-- LOCAL INFORMATION -->
		
			<div class="well">
				

				<% if (R.id) { %>
					<center>
				<h3><span class="fa fa-user"></span>User:<%= R.name %></h3>
				</center>
					<p>
						<center>
						<strong>Employee ID</strong>: <%= R.id %>&nbsp;&nbsp;&nbsp
						<strong>MC#</strong>: <%= R.mc %> &nbsp;&nbsp;
						<%  var date = new Date();
							date = R.from;
							fromDate = new Date(date.getUTCFullYear(),date.getUTCMonth(),date.getUTCDate(),date.getUTCHours(),date.getUTCMinutes(),date.getUTCSeconds());
							date = R.to;
							toDate = new Date(date.getUTCFullYear(),date.getUTCMonth(),date.getUTCDate(),date.getUTCHours(),date.getUTCMinutes(),date.getUTCSeconds());
						%>
						<strong>From</strong>: <%= fromDate %>&nbsp;&nbsp;&nbsp
						<strong>To</strong>: <%= toDate %>
						</center>
					</p>
					
				
				
				<% } %>

			</div>
		

		
	
	

	

</div>
</body>
</html>